.idea
idea
.DS-Store

prod_settings.py
local_settings.py

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend*/*/migrations/*
!*backend*/*/migrations
!*backend*/*/migrations/__init__.py


__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc


media/*
!*media

