<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Document</title>
</head>
<body>
  <navbar class="navbar">
    <div class="container">
      <div class="navbar__wrap">
        <a href="#" class="navbar__logo">
          <object type="image/svg+xml" data="./img/Logo.svg"></object>
        </a>
        <ul class="navbar__menu">
          <li class="navbar__item"><a href="#" class="navbar__link">
            Новости
          </a></li>
          <li class="navbar__item"><a href="#" class="navbar__link">
            Поддержка
          </a></li>
          <li class="navbar__item"><a href="#" class="navbar__link">
            F.A.Q
          </a></li>
          <li class="navbar__item"><a href="#" class="navbar__link">
            О нас
          </a></li>
          <div class="navbar__mobile-menu">
            <li class="navbar__item"><a href="#" class="navbar__link">
              Вход
            </a></li>
            <span class="navbar__sub-item">
              <a href="#" class="navbar__sub-link">
                Личный кабинет
              </a>
            </span>
            <span class="navbar__sub-item">
              <a href="#" class="navbar__sub-link">Выход</a>
            </span>
          </div>
        </ul>
        <div class="navbar__block">
          <a href="#" class="navbar__login">
            Вход
          </a>
          <div class="burger">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
          </div>
        </div>
      </div>
    </div>
  </navbar>

  <section class="news">
    <div class="container">
      <div class="news__header slider-btn-wrap">
        <button class="btn news__prev slider-btn slider-btn-left">
          <object type="image/svg+xml" data="./img/prev.svg"></object>
          Назад
        </button>
        <div class="news__text">
          <h1 class="news__title title">Приветствие</h1>
          <span class="news__date">15 сентября 2021 г.</span>
        </div>
        <button class="btn slider-btn news__next slider-btn-right">
          Следующая статья
          <object type="image/svg+xml" data="./img/next.svg"></object>
        </button>
      </div>
      <div class="news__info">
        <div class="news__image">
          <img src="./img/img.jpg" alt="main image news page">
        </div>
        <h2 class="subtitle news__subtitle">
          Приветствие
        </h2>
        <p class="text news__description">
          TrueCrypto — Наша команда решила написать целый курс по криптовалюте как для самых-самых новичков в этой сфере, 
          так и для опытных пользователей. Курс уже состоит из 40+ статей и они пополняются с высокой скоростью. Эти статьи 
          включают в себя всю информацию, которой хватит каждому для быстрого и опытного старта в данной сфере. Мы очень 
          постарались и активно работали на протяжении 3-х месяцев над этим.TrueCrypto — Наша команда решила написать целый курс 
          по криптовалюте как для самых-самых новичков в этой сфере, так и для опытных пользователей. Курс уже состоит из 40+ 
          статей и они пополняются с высокой скоростью. Эти статьи включают в себя всю информацию, которой хватит каждому для 
          быстрого и опытного старта в данной сфере. Мы очень постарались и активно работали на протяжении 3-х месяцев над этим.
          TrueCrypto — Наша команда решила написать целый курс по криптовалюте как для самых-самых новичков в этой сфере, так и 
          для опытных пользователей. Курс уже состоит из 40+ статей и они пополняются с высокой скоростью. Эти статьи включают в 
          себя всю информацию, которой хватит каждому для быстрого и опытного старта в данной сфере. Мы очень постарались и 
          активно работали на протяжении 3-х месяцев над этим.TrueCrypto — Наша команда решила написать целый курс по 
          криптовалюте как для самых-самых новичков в этой сфере, так и для опытных пользователей. Курс уже состоит из 40+ 
          статей и они пополняются с высокой скоростью. Эти статьи включают в себя всю информацию, которой хватит каждому для 
          быстрого и опытного старта в данной сфере. Мы очень постарались и активно работали на протяжении 3-х месяцев над этим.
          TrueCrypto — Наша команда решила написать целый курс по криптовалюте как для самых-самых новичков в этой сфере, так и 
          для опытных пользователей. Курс уже состоит из 40+ статей и они пополняются с высокой скоростью. Эти статьи включают в 
          себя всю информацию, которой хватит каждому для быстрого и опытного старта в данной сфере. Мы очень постарались и 
          активно работали на протяжении 3-х месяцев над этим.TrueCrypto — Наша команда решила написать целый курс по криптовалюте 
          как для самых-самых новичков в этой сфере, так и для опытных пользователей. Курс уже состоит из 40+ статей и они пополняются
          с высокой скоростью. Эти статьи включают в себя всю информацию, которой хватит каждому для быстрого и опытного старта
          в данной сфере. Мы очень постарались и активно работали на протяжении 3-х месяцев над этим.
        </p>

        <div class="news__wrap slider-btn-wrap">
          <div class="news__block news-block">
            <img src="./img/img.jpg" alt="slide img">
            <a href="#" class="btn news-block__btn slider-btn slider-btn-left">
              <object type="image/svg+xml" data="./img/prev.svg"></object>
              Прошлая статья
            </a>
          </div>
          <div class="news__block news-block">
            <img src="./img/img.jpg" alt="slide img">
            <a href="#" class="btn news-block__btn slider-btn slider-btn-right">
              Следующая статья
              <object type="image/svg+xml" data="./img/next.svg"></object>
            </a>
          </div>
        </div>
  </section>

  <!-- main js -->
  <script src="./js/main.js"></script>
</body>
</html>